<main class="page__main">
  <div class="page__main--form">
    <form class="js_form">
      <label for="">Search your Disney character here:</label>
      <input class="js_input" type="text" placeholder="Example: Olu Mel" />
      <input
        class="js_buttonSearch"
        type="submit"
        name="Search"
        id=""
        value="Search"
      />
    </form>
  </div>

  <section class="page__main--list">
    <section class="page__main--list--character">
      <h2>Characters</h2>
      <ul class="characters__list js_charactersList">
        <li></li>
      </ul>
    </section>

    <section class="page__main--list--favorite">
      <h2>Favorites</h2>
      <ul class="favorite__list js_favoriteList favorite">
        <li></li>
      </ul>
      <button class="js_buttonReset hidden">Reset all</button>
    </section>
  </section>
</main>
